/* tanda bintang untuk force all element style */
* {
    background-color: rgba(184, 147, 147, 0.508);
}

/* multiple selector pakai , */

h1, h2, h3 {
    color: white;
    background-color: rgba(65, 146, 218, 0.761);
}

p {
    font-size: 200%;
    color: coral;
}

span {
    font-size: 2rem;
    color: antiquewhite;
}

/* list penulisannya tidak boleh sama, class penulisannya boleh sama */
#list2 {
    color: orange;
}
/* dapat diselect pakai .  */
.marking {
    background-color: rgb(14, 163, 37);
}

b {
    background-color: black;
}